//버튼 텍스트 스타일
.btn-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-decoration-color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}